.navbarStyle {
    padding: .5rem 1rem !important;
}

.dropdown-toggle {
    visibility: hidden;
    display: none !important;
}

.list-group-item {
    cursor: pointer;
}

.custom-loader-container {
    height: 90vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
}

